* {
    font-family: 'Lato' sans-serif;
    overflow-x: hidden;
}
#links {
    display: flex;
    height: 75px;
    align-items: center;
    background-color: black; 
    font-weight: 100;
}
#links a{
    color: #6cccc6;
}
#links a:hover {
    color: blue;
}
#header {
    background-color: rgb(84, 6, 6);
    margin-bottom: 0px; 
}
#header h3{
    margin-left: 570px;
    margin-top: 15px;
    font-weight: 100;
}
#header h4{
    margin-left: 540px;
    font-weight: 100;
}
#header img {
    margin-left: 550px;
    height:200px;
    border-radius: 200px;   
}
#header h1 {
    margin-left: 200px;
    font-weight: 100;
}
#header p{
    margin-left: 200px;
    font-weight: 100;
}
#profile {
    margin-top: 100px;
   height: 100px;
   font-size: 35px;
}
#profile i{
    color: #6cccc6;
}
#profile i:hover{
    color: blue;
}
#experience {
   background-color: #002304;
}
#firsttag {
    margin-top: 100px;
    margin-left: 125px;
}
#retail {
    margin-top: 50px;
}
#code {
    margin-left: 125px;
    margin-top: 100px;
    margin-bottom: 50px;
}
#languages {
    height: 410px;
}
#aait {
    margin-left: 110px;
}
#generation {
    margin-left: 110px;
    margin-right: 425px;
    width: 813px;
}
#education {
    background-color: #002304;
}
#tag {
    margin-top: 100px;
    margin-left: 110px;
    margin-bottom: 50px;
}
#skill {
    margin-left: 150px;
}

#project {
    margin-top: 100px;
    margin-left: 110px;
    margin-bottom: 50px;
}
#firstProject {
    margin-left: 110px;
    margin-right: 425px;
    
}
#secondProject {
    margin-left: 110px;
    margin-right: 425px;
    margin-top: 50px;
    margin-bottom: 200px;
}
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
.fade-in.appear {
    opacity: 1;
}
.from-left {
   transform: translateX(-50%);
}
.from-right {
   transform: translateX(50%);
}
.from-left,
 .from-right {
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
 }
 .from-left.appear,
 .from-right.appear {
    transform: translateX(0);
    opacity: 1;
 }

 /*footer*/
 #footer {
    height: 250px;
    width: auto;
    background-color: #4A5659;
 }
 #footer-social ul{
    display: flex;
    margin-left: 550px;
    margin-top: 20px;
    font-size: 35px;
    color: #6cccc6;
 }
 #footer-social ul i{
    color: #6cccc6;
 }
 #footer-links ul{
    display: flex;
    margin-left: 400px;
    margin-top: 100px;
 }
 #footer-links a{
    color: #6cccc6;
    font-weight: 100;
 }
 #footer-github{
    margin-left: 30px;
 }
 #footer-email{
    margin-left: 30px;
 }
 #footer-twitter{
    margin-left: 30px;
 }
 #footer-experience {
    margin-left: 20px;
 }
#footer-skills {
    margin-left: 20px;
}
#footer-education {
    margin-left: 20px;
}
#footer-projects {
    margin-left: 20px;
}
#footer-contactme {
    margin-left: 20px;
}
